.monkey {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 234px;

    &-box {
        margin-top: 105px;
    }

    &-title {
        width: 465px;
        color: #FFF;
        margin-bottom: 58px;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }

    &-btn {
        padding: 16px 63px;
        color: #56CAB1;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        border-radius: 100px;
        border: 3px solid rgba(84, 197, 173, 0.95);
        background: #1F143B;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &-img {
        position: absolute;
        right: 0;
        top: -55%;
        right: 15%;
    }

    &-img-2 {
        position: absolute;
        right: 0;
    }
}